
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DH Heroes</title>
        <link rel="stylesheet" href="/css/css.css">
    </head>
    <body>
        <div class="container">
            <div class="imagen">
                <img src="/img/geekCompras.jpg" alt="Empecemos a comprar">
            </div>        
            <div class="detail">
                <h1>Compra Producto</h1>
                <p><strong>Serie : </strong>Silvestres</p>
                <p><strong>Tipo : </strong>Camiseta</p>
                <p>Descripción:Algodón 100 hilos,Packing Premiun,Oferta del día </p>
                <br/>
                <form>
                    <select name ="talla" id ="talla">
                        <option value = "large"> Large </option>
                        <option value = "medium">Medium </option>
                        <option value = "small">Small </option>
                    </select>
                    <br/>
                    <select name ="Color" id ="color">
                        <option value = "nego"> Negro </option>
                        <option value = "blanco">Blanco </option>
                        <option value = "gris">Gris </option>
                    </select>
                    <br/>
                </form>
                <a href="/"><button>Volver</button></a>
            </div>
        </div>
    </body>
</html