<html lang="es">
<head>
    <meta charset="UTF-8">
    <!<meta name="viewport" content="width=device-width, initial-scale=1.0"> >
    <title>GET STORE </title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div id="contenedor" >
        <img src="/img/geekStore.jpg" alt="logo" width ="1" height="1">
        <main class="index">
            <h1>Hola , estás en MUNDO GEEK </h1>
        <form >
            <label for="usuario"> Ingresá tu Usuario: </label>
            <input type="usuario" placeholder="usuario" id ="nombre">
            <br/>
            <select name ="talla" id ="talla">
                <option value = "large"> Large </option>
                <option value = "medium">Medium </option>
                <option value = "small">Small </option>
            </select>
            <p>Para ver como hubica todo en la página, ahora vengo con div</p>
            <br/>
        
    </div>
    <br/>             
    <div id="cuerpo"  > 
            <div style="background-color:#006eff"> <p> Bloque Carrito </p><br/>
            <img src= "/img/carritoCompras.jpg" with=100 ><a href = "img/carritoCompras.jpg"><b>VER ESTADO CARRITO</b> </a></div>
          
            <br/>
            <img src="/img/geekStore.jpg" with = "1">
            <br/>
            <a href = "/img/geekCompra.png"> Ir a Imagen </a>
</div>
            
            <br/>
            <div class ="div">ES LA TERCER DIVISION </div> 

        </form>
    </body>
</main>
</html>